<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:kadence/column {"background":"#636363","borderWidth":["","","",""],"uniqueID":"rlussier-portfolio__page_199f96-54","gradient":"linear-gradient(183deg,rgb(255,255,255) 18%,rgb(99,99,99) 98%)","kbVersion":2} -->
<div class="wp-block-kadence-column kadence-columnrlussier-portfolio__page_199f96-54"><div class="kt-inside-inner-col"><!-- wp:post-content {"backgroundColor":"contrast-2","layout":{"type":"constrained"}} /--></div></div>
<!-- /wp:kadence/column -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->