<!-- wp:kadence/rowlayout {"uniqueID":"638065_877f5d-34","colLayout":"equal","tabletPadding":["","lg","","lg"],"padding":["sm","5xl","sm","5xl"],"kbVersion":2} -->
<!-- wp:kadence/column {"borderWidth":["","","",""],"uniqueID":"638065_01b897-18","textAlign":["center","",""],"verticalAlignment":"middle"} -->
<div class="wp-block-kadence-column kadence-column638065_01b897-18">
  <div class="kt-inside-inner-col"><!-- wp:post-title /--></div>
</div>
<!-- /wp:kadence/column -->

<!-- wp:kadence/column {"id":2,"borderWidth":["","","",""],"uniqueID":"638065_3c6d42-6a","textAlign":["center","",""]} -->
<div class="wp-block-kadence-column kadence-column638065_3c6d42-6a">
  <div class="kt-inside-inner-col">
    <!-- wp:post-featured-image {"width":"","height":"","scale":"contain","align":"center","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"var:preset|spacing|80","left":"var:preset|spacing|80"}}}} /-->
  </div>
</div>
<!-- /wp:kadence/column -->
<!-- /wp:kadence/rowlayout -->

<!-- wp:kadence/rowlayout {"uniqueID":"638065_036243-fe","columns":3,"colLayout":"center-half","kbVersion":2} -->
<!-- wp:kadence/column {"borderWidth":["","","",""],"uniqueID":"638065_969dc0-5c"} -->
<div class="wp-block-kadence-column kadence-column638065_969dc0-5c">
  <div class="kt-inside-inner-col"></div>
</div>
<!-- /wp:kadence/column -->

<!-- wp:kadence/column {"id":2,"borderWidth":["","","",""],"uniqueID":"638065_101a83-ad"} -->
<div class="wp-block-kadence-column kadence-column638065_101a83-ad">
  <div class="kt-inside-inner-col"><!-- wp:post-content /--></div>
</div>
<!-- /wp:kadence/column -->

<!-- wp:kadence/column {"id":3,"borderWidth":["","","",""],"uniqueID":"638065_f40b4a-dd"} -->
<div class="wp-block-kadence-column kadence-column638065_f40b4a-dd">
  <div class="kt-inside-inner-col"></div>
</div>
<!-- /wp:kadence/column -->
<!-- /wp:kadence/rowlayout -->
