<!-- wp:template-part {"slug":"header","area":"header"} /-->


<!-- wp:kadence/rowlayout {"uniqueID":"638065_877f5d-34","columns":1,"colLayout":"equal","bgColor":"#636363","verticalAlignment":"middle","tabletPadding":["","lg","","lg"],"inheritMaxWidth":true,"bgColorClass":"contrast-2","padding":["","","",""],"kbVersion":2} -->
<!-- wp:kadence/column {"borderWidth":["","","",""],"uniqueID":"638065_3c6d42-6a","textAlign":["center","",""],"kbVersion":2} -->
<div class="wp-block-kadence-column kadence-column638065_3c6d42-6a"><div class="kt-inside-inner-col"><!-- wp:kadence/rowlayout {"uniqueID":"638065_01fd34-09","columns":1,"colLayout":"equal","padding":["","","",""],"kbVersion":2} -->
<!-- wp:kadence/column {"background":"#d8613c","borderWidth":["","","",""],"uniqueID":"638065_75fd99-55","kbVersion":2} -->
<div class="wp-block-kadence-column kadence-column638065_75fd99-55"><div class="kt-inside-inner-col"><!-- wp:kadence/rowlayout {"uniqueID":"638065_df38d4-40","colLayout":"equal","padding":["","","",""],"kbVersion":2} -->
<!-- wp:kadence/column {"background":"#d8613c","borderWidth":["","","",""],"uniqueID":"638065_cfc786-b5","direction":["horizontal","",""],"justifyContent":["center","",""],"verticalAlignment":"middle","padding":["md","","md",""],"backgroundType":"gradient","gradient":"linear-gradient(351deg,rgb(207,202,190) 1%,rgb(216,97,60) 100%)","kbVersion":2} -->
<div class="wp-block-kadence-column kadence-column638065_cfc786-b5 kb-section-dir-horizontal"><div class="kt-inside-inner-col"><!-- wp:post-title {"style":{"typography":{"fontSize":"5.6rem"}}} /--></div></div>
<!-- /wp:kadence/column -->

<!-- wp:kadence/column {"id":2,"borderWidth":["","","",""],"uniqueID":"638065_a1b0ba-5b","direction":["horizontal","",""],"overlayHoverOpacity":0.76,"kbVersion":2} -->
<div class="wp-block-kadence-column kadence-column638065_a1b0ba-5b kb-section-dir-horizontal"><div class="kt-inside-inner-col"><!-- wp:post-featured-image {"aspectRatio":"16/9","style":{"border":{"radius":"0px"},"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}}} /--></div></div>
<!-- /wp:kadence/column -->
<!-- /wp:kadence/rowlayout --></div></div>
<!-- /wp:kadence/column -->
<!-- /wp:kadence/rowlayout --></div></div>
<!-- /wp:kadence/column -->
<!-- /wp:kadence/rowlayout -->

<!-- wp:kadence/rowlayout {"uniqueID":"638065_5ecd14-49","columns":1,"colLayout":"equal","bgColor":"#636363","inheritMaxWidth":true,"bgColorClass":"contrast-2","padding":["sm","","",""],"kbVersion":2} -->
<!-- wp:kadence/column {"borderWidth":["","","",""],"uniqueID":"638065_8e0134-e1","kbVersion":2} -->
<div class="wp-block-kadence-column kadence-column638065_8e0134-e1"><div class="kt-inside-inner-col"><!-- wp:kadence/rowlayout {"uniqueID":"638065_d6ae2c-66","columns":1,"colLayout":"equal","bgColor":"#d8613c","bgColorClass":"accent-3","padding":["","","",""],"kbVersion":2} -->
<!-- wp:kadence/column {"id":2,"borderWidth":["","","",""],"uniqueID":"638065_fead8f-75","kbVersion":2} -->
<div class="wp-block-kadence-column kadence-column638065_fead8f-75"><div class="kt-inside-inner-col"><!-- wp:post-content /--></div></div>
<!-- /wp:kadence/column -->
<!-- /wp:kadence/rowlayout --></div></div>
<!-- /wp:kadence/column -->
<!-- /wp:kadence/rowlayout -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->