<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:kadence/rowlayout {"uniqueID":"342205_e6d204-37","columns":1,"colLayout":"equal","bgColor":"#888888","verticalAlignment":"middle","textColor":"#FFFFFF","bgColorClass":"base","padding":["sm","3xl","sm","3xl"],"kbVersion":2} -->
<!-- wp:kadence/column {"background":"#293136","borderWidth":["","","",""],"uniqueID":"342205_5627db-cb","padding":["","3xl","","3xl"]} -->
<div class="wp-block-kadence-column kadence-column342205_5627db-cb">
  <div class="kt-inside-inner-col">
    <!-- wp:kadence/rowlayout {"uniqueID":"342205_a2f67a-6a","colLayout":"equal","kbVersion":2} -->
    <!-- wp:kadence/column {"borderWidth":["","","",""],"uniqueID":"342205_066d6c-36","direction":["vertical","",""],"verticalAlignment":"middle"} -->
    <div
      class="wp-block-kadence-column kadence-column342205_066d6c-36 kb-section-dir-vertical"
    >
      <div class="kt-inside-inner-col">
        <!-- wp:post-title {"textAlign":"center","style":{"typography":{"fontSize":"5.1rem"}}} /-->
      </div>
    </div>
    <!-- /wp:kadence/column -->

    <!-- wp:kadence/column {"id":2,"borderWidth":["","","",""],"uniqueID":"342205_9295d0-6b","textAlign":["center","",""],"direction":["horizontal","",""],"justifyContent":["center","",""],"verticalAlignment":"middle","padding":["","lg","",""],"margin":["xl","md","",""]} -->
    <div
      class="wp-block-kadence-column kadence-column342205_9295d0-6b kb-section-dir-horizontal"
    >
      <div class="kt-inside-inner-col">
        <!-- wp:post-featured-image {"align":"center"} /-->
      </div>
    </div>
    <!-- /wp:kadence/column -->
    <!-- /wp:kadence/rowlayout -->

    <!-- wp:kadence/rowlayout {"uniqueID":"342205_4d2899-4c","columns":1,"colLayout":"equal","kbVersion":2} -->
    <!-- wp:kadence/column {"borderWidth":["","","",""],"uniqueID":"342205_d32e91-12","textAlign":["left","",""],"direction":["horizontal","",""],"verticalAlignment":"middle","padding":["","lg","","lg"]} -->
    <div
      class="wp-block-kadence-column kadence-column342205_d32e91-12 kb-section-dir-horizontal"
    >
      <div class="kt-inside-inner-col">
        <!-- wp:post-content {"style":{"spacing":{"blockGap":"0"}}} /-->
      </div>
    </div>
    <!-- /wp:kadence/column -->
    <!-- /wp:kadence/rowlayout -->

    <!-- wp:kadence/rowlayout {"uniqueID":"342205_56eef6-2c","colLayout":"equal","kbVersion":2} -->
    <!-- wp:kadence/column {"borderWidth":["","","",""],"uniqueID":"342205_e45c9d-22","textAlign":["center","",""],"verticalAlignment":"middle"} -->
    <div class="wp-block-kadence-column kadence-column342205_e45c9d-22">
      <div class="kt-inside-inner-col">
        <!-- wp:post-navigation-link {"type":"previous"} /-->
      </div>
    </div>
    <!-- /wp:kadence/column -->

    <!-- wp:kadence/column {"id":2,"borderWidth":["","","",""],"uniqueID":"342205_4237e2-fd","textAlign":["center","",""]} -->
    <div class="wp-block-kadence-column kadence-column342205_4237e2-fd">
      <div class="kt-inside-inner-col"><!-- wp:post-navigation-link /--></div>
    </div>
    <!-- /wp:kadence/column -->
    <!-- /wp:kadence/rowlayout -->
  </div>
</div>
<!-- /wp:kadence/column -->
<!-- /wp:kadence/rowlayout -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
